@keyframes graphic {
	0% { transform: translate(-50%,-50%) rotate(0deg); }
	100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.graphic div {
	position: absolute;
	width: 120px;
 	height: 120px;
	border: 20px solid rgba(64, 64, 64, 0.5);
	border-top-color: transparent;
	border-radius: 50%;
}
.graphic div {
	animation: graphic 1s linear infinite;
	top: 100px;
	left: 100px
}
.static {
	position: absolute;
	margin: 0;
	left: 43%;
	bottom: 50%;
	width: 80%;
	height: 200px;
	display: inline-block;
	overflow: hidden;
	background: none;
}
@media screen and (max-width: 450px) {
	.static {
		left: 20%;
		bottom: 33%;
		width: 60%;
	}
}
.graphic {
	width: 20%;
	height: 20%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
 	transform-origin: 0 0;
}
.graphic div { 
	box-sizing: content-box; 
}
