/* stylisation d'ensemble */
body, html {
	height: 100%;
	margin: 0;
	background-color: rgb(0, 0, 0);
}
a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}
a:hover {
	cursor: pointer;
}
a.data {
	cursor: zoom-in;
}
a[href^=".."]:hover {
	border-bottom: 1px solid;
}
/* stylisation de l'article */
article {
	width: 50%;
	margin: 25px auto;
	font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
	font-size: 28px;
	font-weight: 200;
	text-align: center;
	color: rgb(255, 255, 255);
}
@media screen and (max-width: 450px) {
	article {
		width: 95%;
	}
}
article h1 {
	font: 200 46px "Helvetica Neue", Helvetica,Arial, sans-serif;
	color: rgb(255, 255, 255);
}
article h2 {
	font: 200 28px "Helvetica Neue", Helvetica,Arial, sans-serif;
	color: rgb(255, 255, 255);
}
article p {
	text-align: justify;
}
@media screen and (max-width: 450px) {
	article p {
		text-align: left;
	}
}
article img {
	width: 80%;
}
article ul {
    list-style: none;
    padding-left: 0;
    text-align: left;
}
/* stylisation de la navigation */
aside {
	width: 50%;
	margin: 25px auto;
	padding: 25px;
	font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
	font-size: 18px;
	font-weight: 200;
	text-align: center;
	color: rgb(255, 255, 255);			
}
