/* stylisation d'ensemble */
body, html {
	height: 100%;
	margin: 0;
	background-color: rgb(0, 0, 0);
}
a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}
li a:hover {
	cursor: pointer;
	border-bottom: 1px solid;
}
/* stylisation de l'entête */
header {
  	height: 100%; 
  	background-image: url("theme.jpg");
 	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}
#cover {
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}
h1 {
	position: absolute;
	left: 0;
	bottom: 50%;
	width: 100%;
	letter-spacing: 5px;
	text-transform: uppercase;
	text-align: center;
	font: 200 46px "Helvetica Neue", Helvetica,Arial, sans-serif;
	color: rgb(255, 255, 255);
}
h1 span {
	background-color: rgb(0, 0, 0);
}
/* stylisation du contenu principal */
main {
	padding-top: 50px;
	text-align: center;
	background-color: rgb(0, 0, 0);
}
section {
	display: inline-block;
	max-width: 400px;
	margin: 50px 20px;
	padding: 10px;
	font-size: 30px;
	background-color: rgba(255, 255, 255, 0.05);
}
section img {
	width: 400px;
}
@media screen and (max-width: 450px) {
	section img {
		width: 300px;
	}
}
h2 {
	text-align: left;
	font: 200 25px "Helvetica Neue", Helvetica,Arial, sans-serif;
	color: rgb(255, 255, 255);
}
h2 span {
    box-shadow: inset 0 -10px 0 0 #205064;
}
h2 span:after {
	content: "\00a0"
}
h2 span:hover {
	cursor: pointer;
  	border-bottom: solid 5px #205064;  
}
h3, p {
	text-align: left;
	font: 200 18px "Helvetica Neue", Helvetica,Arial, sans-serif;
	color: rgb(255, 255, 255);	
}
/* stylisation du pied de page */
footer {
	padding: 15px 35px;
	font: 200 18px "Helvetica Neue", Helvetica,Arial, sans-serif;
}
ul {
    list-style: none;
    padding-left: 0;
}​
li {
	display: inline;
	list-style-type: none;
}
@media screen and (min-width: 450px) {
	ul {
		float: right;
	}
	li {
		float: left;
	}
	li:first-of-type {
		margin: 0 30px 0 0;
	}
}
